<div class="container-seven-large">
  <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script>
  <iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrfsMHwz7jqJvbj1?prefill_Sevener+(text)=<%= current_user.fullname.split.join('+') %>&prefill_Training_refid+(text)=<%= @training.refid %>&prefill_Amount=<%= @amount_to_bill %>" frameborder="0" onmousewheel="" width="100%" height="1097.8833300000001" style="background: transparent; border: 1px solid #ccc;"></iframe>
</div>
