<div id="items">
  <% if session.workshops.empty? %>
    <div class="empty-mod">
      <% if ['super admin', 'admin', 'training manager'].include? current_user.access_level %>
        <br>
        <p> <%= "Ajouter du contenu" %> </p>
      <% else %>
        <i class="fas fa-wrench"></i>
        <p> <%= "Session à construire" %> </p>
      <% end %>
    </div>
  <% else %>
    <% array = [] %>
    <% session.workshops.each do |mod| %>
      <% array << mod %>
      <% mod.update(position: (array.index(mod) + 1)) %>
      <% if mod.position == 1 %>
        <% @start = session.start_time %>
      <% else %>
        <% @duration = session.workshops.find_by(position: (mod.position - 1 )).duration.minutes %>
        <% @start += @duration %>
      <% end %>
      <%= render "workshops/mod_card", mod: mod, session: session, start: @start %>
    <% end %>
  <% end %>
</div>
