<% @previous = session.workshops.find_by(position: (mod.position - 1)) %>
<% total_duration = 0 %>
<% exceed = [] %>
<% mod.session.workshops.each do |mod| %>
  <% total_duration += mod.duration %>
  <% exceed << mod.position if (total_duration * 60) > (mod.session.end_time - mod.session.start_time) %>
<% end %>
<div class="card card-mods grabbable" data-item-id="<%= mod.id %>">
  <div class="card-left align-elements-in-flexbox grabbable">
    <div class="mod-time">
      <%= start.strftime("%H:%M") %>
      <div class="circle"></div>
    </div>
  </div>
  <div class="card-right grabbable">
    <div class="card-category">
      <%= link_to training_session_workshop_path(mod.session.training, mod.session, mod), class: 'grabbable' do %>
        <h4><%= "#{mod.title} - (#{mod.duration} min)" %></h4>
      <% end %>
      <% if @error %>
        <p class='error'>Attention au rythme</p>
      <% end %>
      <% if exceed.include?(mod.position) %>
        <p class='error'>Durée de la session dépassée</p>
      <% end %>
    </div>
    <div class="card-description grabbable">
    </div>
  </div>
</div>

