<div class="container-seven">
  <h2>Liste des intelligences</h2>
  <%= link_to new_intelligence_path do %>
    <i class="fas fa-plus"></i>
  <% end %>
  <ul>
    <% @intelligences.each do |intelligence| %>
      <li><%= link_to intelligence.name, intelligence_path(intelligence) %></li>
    <% end %>
  </ul>
</div>

