<div class="container-seven">
  <%= link_to intelligences_path do %><i class="fas fa-arrow-left"></i><% end %>
  <h2><%= @intelligence.name %></h2>
  <div class="show-control-links">
    <% if current_user.access_level == 'admin' %>
      <a class="edit-fafa" data-toggle='modal' data-target='#editIntelligence'><i class="fas fa-pen"></i></a>
    <% end %>
  </div>
  <p><%= @intelligence.description %></p>
</div>

<!-- Modal -->
<div class="modal fade" id="editIntelligence" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document" style="border-radius: 20px">
    <%= render 'edit', intelligence: @intelligence %>
  </div>
</div>


