<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel"><%= "Ajouter un formateur" %></h3>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body" id="modalNewBookinBody">
    <%= simple_form_for [@session.training, @session, @session_trainer], url: training_session_session_trainer_path(@session.training, @session), method: :delete do |f| %>
        <%= f.input :user, :collection => @session.users, :label_method => lambda { |owner| "#{owner.firstname} #{owner.lastname}" }, include_blank: false %>
  </div>
  <div class="modal-footer" id="modalNewBookingFooter">
    <div>
      <%= f.button :submit, "Supprimer", class: 'btn btn-edit' %>
      <% end %>
    </div>
  </div>

    </div>
  </div>
</div>
