<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style="display:flex;justify-content:center;text-align:center;">
      <h3 class="modal-title" id="myModalLabel"><%= "Trainers" %></h3>
    </div>
    <button type="button" class="btn btn-icon-close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-autocomplete">
    <%= form_with url: users_path, local: true, method: 'GET' do |f| %>
      <%= f.text_field :search, placeholder: 'Search', label: false, data: {behavior: 'autocomplete'}, id: session_number %>
      <% if params[:search] %>
        <%= link_to users_path, class: 'user-search-close' do %>
          <i class="far fa-times-circle"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="users-list">

  </div>
</div>

