.action-infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-right: 2.5rem;

  @include from-large {
    margin-right: 0 !important;
  }

  div {
    width: 30%;

    p {
      width: 100%;
    }
  }

  p {
    width: 30%;
    color: rgba(0,0,0,0.6);
  }

  > p:first-child {
    color: black;
    width: 30%;
  }

  > p:last-child {
    width: 30%;
  }
}

.intelligence-types {
  margin-top: 50px;
  h4 {
    font-weight: 700;
  }
  h5 {
    color: #D69D29;
  }
}

.action-checkboxes {
  fieldset {
    margin: 10px 0px !important;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .form-check-label {
    font-size: 15px !important;
    width: 300px;
  }
}

.description {
  margin-top: 30px;
  margin-bottom: 30px;
}
