.container-seven-large-form {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include from-large {
    min-width: 1080px;
    padding: 3rem;
    margin-top: 3rem;
  }

  h2 {
    text-align: center;
  }
}

#page-controls-form {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #DADCE0;
  height: 8rem;
  background-color: white;
  z-index: 10;

  @include from-large {
    max-width: 116rem;
    width: calc(100vw - 28rem);
    flex-direction: row;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
  }

  form, input, button {
    height: 4rem !important;
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  div > a {
    // margin-left: 2rem;
  }
}

#attendee-form {
  width: 100%;

  @include from-large {
    width: 500px;
  }
}

#attendee-form-title {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

#attendee-form-logo {
  width: 100%;
  display: inherit;
  justify-content: space-around;

  @include from-large {
    width: 50%;
  }

  img {
    height: 70.5rem;

    @include from-large {
      height: 15rem;
    }
  }
}

.session-form-card {
  height: 600px;
  width: 300px;
  background-color: white;
  box-shadow: 1px 1px 1.5rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;

  @include from-large {
    height: 45rem;
    width: 900px;
    flex-direction: row;
  }

  h3 {
    color: #FFC451;
    font-size : 2rem;

    @include from-large {
      font-size: 2.4rem;
    }
  }

  .session-teaser {
    text-align: left;
    font-size: 1.2rem;

    @include from-large {
      font-size: 1.6rem;
    }
  }
}

.session-form-card-special {
  height: 600px;
  width: 300px;
  background-color: white;
  box-shadow: 1px 1px 1.5rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;

  @include from-large {
    height: 55rem;
    width: 100%;
    flex-direction: row;
  }

  h3 {
    color: #FFC451;
    font-size : 2rem;

    @include from-large {
      font-size: 2.4rem;
    }
  }

  .session-teaser {
    text-align: left;
    font-size: 1.2rem;

    @include from-large {
      font-size: 1.6rem;
    }
  }
}

.session-form-card-left {
  height: 300px;
  width: 300px;

  @include from-large {
    height: 45rem;
    min-width: 45rem;
  }
}

.session-form-card-left-special {
  height: 300px;
  width: 300px;

  @include from-large {
    height: 55rem;
    min-width: 45rem;
  }
}

.session-form-card-image-1 {
  height: 300px;
  width: 300px;
  background-image: url('https://static.lexpress.fr/medias_9458/w_480,h_270,c_fill,g_north/v1395063433/gign-1_4842839.jpg');
  background-size: cover;
  background-position: right 20% bottom 45%;

  @include from-large {
    height: 45rem;
    width: 45rem;
  }
}

.session-form-card-right {
  height: 300px;
  width: 300px;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include from-large {
    height: 45rem;
    width: 45rem;
    padding: 2rem;
  }

  h4, p {
    font-size: 1.2rem;
    margin: 0;

    @include from-large {
      font-size: 1.6rem;
    }
  }
}

.session-form-card-right-special {
  height: 300px;
  width: 300px;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include from-large {
    height: 55rem;
    width: 100%;
    padding: 2rem;
  }

  h4, p {
    font-size: 1.2rem;
    margin: 0;

    @include from-large {
      font-size: 1.6rem;
    }
  }

  .session-form-card-title {
    margin-bottom: 2rem;
  }

  .session-teaser {
    margin-bottom: 2rem;
  }
}

.session-form-control {
  a {
    margin: 1rem 0;
    font-size: 1.2rem;

    @include from-large {
      font-size: 1.6rem;
    }
  }

  p {
    margin: 0;
    font-size: 1.2rem;

    @include from-large {
      font-size: 1.6rem;
    }
  }
}

#form-import {
  margin-top: 100px;
  display: none;

  @include from-large {
    display: block;
  }
}
