//INDEX

#client-company-controls {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.client-company-list, .client-contact-list {
  list-style: none;
  width: 500px;
  padding: 0;

  a {
    text-decoration: none;
    }
}

.client-company-card, .client-contact-card {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(0,0,0,0.4);
  margin: 0;
  padding: 20px;

  div {

    p {
      margin: 0;
    }
  }
}

.client-company-logo-index {
  height:50px;
  width:50px;
  object-fit: cover;
}

.client-company-type-address {
  margin-left: 100px;

  p {
    color: rgba(0,0,0,0.6);

    &:first-child {
      color: black;
    }
  }
}

//-------------------------------------------------------------------

//SHOW

.client-company-card-show, .client-contact-card-show {
  margin: 50px 0;
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(136,136,136,0.8);

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    p {
      margin: 0;
    }
  }

  div > div {
    flex-direction: column;
    margin: 0;
  }
}

.client-company-logo-show {
  height: 100px;
}

.user-contact-card > div {
  width: 70%;

  div {
    width: 60%;
  }
}
