//INDEX

#client-company-index {
  width: 100%;

  @include from-large {
    width: auto;
  }
}

#client-company-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include from-large {
    width: 100%;
    flex-direction: row;
    margin-bottom: 50px;
  }

  div {
    display: flex;
  }

  div > a {
    margin-left: 20px;
  }
}

#client-company-buttons {
  position: relative;
}

#client-contact-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include from-large {
    width: 50%;
    flex-direction: row;
    margin-bottom: 50px;
  }

  div {
    display: flex;
  }

  div > a {
    margin-left: 20px;
  }
}

.client-company-list, .client-contact-list, .action-list {
  list-style: none;
  width: 100%;
  padding: 0;

  a {
    text-decoration: none;
    }

  h3 {
    margin: 0;
  }

  @include from-large {
    width: auto;
  }
}

.client-contact-list {

  @include from-large {
    width: 50%;
  }
}

.client-company-card, .client-contact-card, .theory-card, .action-card {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 20px 0;
  transition: all 0.1s ease;

  &:hover {
    background-color: rgba(0,0,0,0.05);
  }

  div {

    p {
      margin: 0;
    }
  }

  @include from-large {
    padding: 20px;
  }
}

.client-company-logo-index {
  height:50px;
  width:50px;
  background-color: rgba(0,0,0,0);
  object-fit: cover;
}

.client-company-infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.client-company-type-address {
  margin-left: 30px;

  @include from-large {
    margin-left: 10%;
    width: 30%;
  }

  p {
    color: rgba(0,0,0,0.6);

    &:first-child {
      color: black;
    }
  }
}

.client-company-client-contact-list {


  @include from-large {
    width: 30%;
  }
}

//-------------------------------------------------------------------

//SHOW

.centered-card-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.client-company-card-show, .client-contact-card-show {
  width: 100%;
  margin: 50px 0;
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(136,136,136,0.8);

  @include from-large {
    width: 50%;
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    p {
      margin: 0;
    }
  }

  .show-control-links {

  }
}

 .user-picture-show {
  overflow: hidden;
  height: 100px;
  width: 100px;
 }

.client-company-logo-show {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.user-contact-card > div {
  width: 70%;

  div {
    width: 60%;
  }
}

.client-contact-info {
  margin-left: 30px;

  @include from-large {
    margin-left: 120px;
  }
}

//FORM

.client_company_address, .client_contact_billing_address {
  width: 30%;
}

.client_company_zipcode, .client_contact_billing_zipcode {
  width: 10%;
}

.client_company_city, .client_contact_billing_city {
  width: 30%;
}
