#content-mods {
  margin: 30px 0;
}

.module-card {
  background-color: white;
  box-shadow: 1px 0px 70px -11px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &:hover {
      box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
    }
}

.module-card-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.module-card-controls {
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  margin-left: 20px;
  display: none;

  @include from-large {
    display: flex;
    flex-direction: column;
  }

 div {
  margin: 20px 0;
 }
}

.content-actions {
  color: $orange;
}

.content-logistics {
  height: auto;
  justify-content: center;

  @include from-large {
    justify-content: left;
  }
}

.content-logistics, .content-logistics > div > div {
  color: $green;
}

.content-logistics > div {
  margin-left: 5px;
}

.workshop-middle-info-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
