.conference {
  margin: 0 10rem;

  padding: 5rem 0;

  @include from-xlarge {
    padding: 5rem;
  }

  h3 {
    font-weight: 700px;
  }
  h4 {
    font-weight: 700px;
  }
}

.conference-content {
  display:flex;
  flex-direction: column;
  margin-bottom: 50px;
  @include from-large {
    flex-direction: row;
    max-height: 400px;
  }
}

.conference-title {
  text-align: center;
  margin: 20px;
  h3 {
    font-weight: 700;
  }
  h4 {
    font-weight: 700;
  }
}

.conference-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  ul {
    padding: 0px;
    margin: 0px;
  }
  li {
    font-size: 14px;
  }
  @include from-large {
    margin-left: 50px;
  }
}



.conference-image {
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  img {
    width:60%;
  }
  @include from-large {
    display:block;
    margin: 0;
    img {
    height:100%;
    width: 350px;
    }
  }
}

.parent {
  position: relative;
  .sub {
    transition: all 0.5s ease-in-out;
  }
  .thanks {
    font-size: 17px;
    transition: all 0.5s ease-in-out;
    letter-spacing:2px;
    opacity: 0;
    position: absolute;
  }
}

.text {
  font-size: 17px;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}

.toggle {
  display: none;
}

.button {
  position: absolute;
  z-index: 999;
  width: 31px;
  height: 31px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  &:before {
    position: absolute;
    top: 13px;
    left: 6px;
    content: '';
    width: 16px;
    height: 2px;
    background: white;
    transform: rotate(90deg);
  }
  &:after {
    position: absolute;
    top: 13px;
    left: 6px;
    content: '';
    width: 16px;
    height: 2px;
    background: white;
  }
}

.toggle:checked ~ .nav {
  opacity: 1;
  transform: translateY(10%);
}

.toggle:checked ~ .button {
  transform: rotate(135deg);
  box-shadow: 0 0 0 0 transparent;
  border-radius: 100%;
}

.toggle:checked ~ .subbed {
  opacity: 1;
}

.wrap {
  min-width: 330px;
  background: #FFC65A;
  transition: background .5s ease-in-out;
  border-radius: 4px;
  padding-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px;
  }
}

$color: #fff;

.toggleButton {
    cursor: pointer;
    display: block;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    transition: transform .14s ease;
    &:active {
        transform: rotateX(30deg);
    }
    input {
        display: none;
        & + div {
            border: 3px solid rgba($color, .2);
            border-radius: 50%;
            position: relative;
            width: 44px;
            height: 44px;
            svg {
                fill: none;
                stroke-width: 3.6;
                stroke: $color;
                stroke-linecap: round;
                stroke-linejoin: round;
                width: 44px;
                height: 44px;
                display: block;
                position: absolute;
                left: -3px;
                top: -3px;
                right: -3px;
                bottom: -3px;
                z-index: 1;
                stroke-dashoffset: 162.6 - 38;
                stroke-dasharray: 0 162.6 133 (162.6 - 133);
                transition: all .4s ease 0s;
            }
            &:before,
            &:after {
                content: '';
                width: 3px;
                height: 16px;
                background: $color;
                position: absolute;
                left: 50%;
                top: 50%;
                border-radius: 5px;
            }
            &:before {
                opacity: 0;
                transform: scale(.3) translate(-50%, -50%) rotate(45deg);
                animation: bounceInBefore .3s linear forwards .3s;
            }
            &:after {
                opacity: 0;
                transform: scale(.3) translate(-50%, -50%) rotate(-45deg);
                animation: bounceInAfter .3s linear forwards .3s;
            }
        }
        &:checked + div {
            svg {
                stroke-dashoffset: 162.6;
                stroke-dasharray: 0 162.6 28 (162.6 - 28);
                transition: all .4s ease .2s;
            }
            &:before {
                opacity: 0;
                transform: scale(.3) translate(-50%, -50%) rotate(45deg);
                animation: bounceInBeforeDont .3s linear forwards 0s;
            }
            &:after {
                opacity: 0;
                transform: scale(.3) translate(-50%, -50%) rotate(-45deg);
                animation: bounceInAfterDont .3s linear forwards 0s;
            }
        }
    }
}

@keyframes bounceInBefore {
    0% {
        opacity: 0;
        transform: scale(.3) translate(-50%, -50%) rotate(45deg);
    }
    50%{
        opacity: 0.9;
        transform: scale(1.1) translate(-50%, -50%) rotate(45deg);
    }
    80%{
        opacity: 1;
        transform: scale(.89) translate(-50%, -50%) rotate(45deg);
    }
    100%{
        opacity: 1;
        transform: scale(1) translate(-50%, -50%) rotate(45deg);
    }
}

@keyframes bounceInAfter {
    0% {
        opacity: 0;
        transform: scale(.3) translate(-50%, -50%) rotate(-45deg);
    }
    50%{
        opacity: 0.9;
        transform: scale(1.1) translate(-50%, -50%) rotate(-45deg);
    }
    80%{
        opacity: 1;
        transform: scale(.89) translate(-50%, -50%) rotate(-45deg);
    }
    100%{
        opacity: 1;
        transform: scale(1) translate(-50%, -50%) rotate(-45deg);
    }
}

@keyframes bounceInBeforeDont {
    0% {
        opacity: 1;
        transform: scale(1) translate(-50%, -50%) rotate(45deg);
    }
    100%{
        opacity: 0;
        transform: scale(.3) translate(-50%, -50%) rotate(45deg);
    }
}

@keyframes bounceInAfterDont {
    0% {
        opacity: 1;
        transform: scale(1) translate(-50%, -50%) rotate(-45deg);
    }
    100%{
        opacity: 0;
        transform: scale(.3) translate(-50%, -50%) rotate(-45deg);
    }
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

// Center & dribbble
body {
    min-height: 100vh;
    font-family: Roboto, Arial;
    color: #ADAFB6;
    background: #5628EE;
    display: flex;
    justify-content: center;
    align-items: center;
    .dribbble {
        position: fixed;
        display: block;
        right: 24px;
        bottom: 24px;
        img {
            display: block;
            width: 76px;
        }
    }
}
