.invoice-item-container {
  display: none;

  @include from-large {
    display: block;
  }

  p {
    margin: 0;
  }
}

.invoice-item-container-mobile {
  width: 100%;
  margin-top: 3rem;
  text-align: center;

  h3 {
    text-align: center;
    margin-bottom: 3rem;
  }

  @include from-large {
    display: none;
  }
}

.invoice-header {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  margin-bottom: 100px;
}

.invoice-client {
  border: 1px solid rgb(136,136,136);
  margin-left: 55rem;
  margin-bottom: 5rem;
  width: auto;
  position: relative;
}

.invoice-item-button-opco {
  position: absolute !important;
  top: .5rem;
  right: .5rem;
}

#invoice-desc-header {
    border-bottom: 2px solid black;
}

.invoice-desc-line, .invoice-desc-line-chapter, .invoice-desc-line > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invoice-desc-line {
  padding-left : 3rem;
}

.invoice-desc-line-chapter {
  height: 4rem;
  background-color: #3AA2AC;
}

.invoice-desc-line > div {
  width: 55%;

  p {
    width: 100px;
    text-align: right;
  }
}

.invoice-desc-line-controls {
  display: flex;
  flex-direction: column !important;
  position: absolute;
  left: 0;
  top: 0;
}

.invoice-line-comments {
  color: black;
  padding-left: 4rem;
  margin-bottom: 2rem;

  &:hover, a:hover {
    text-decoration: none;
    color: black;
    cursor: help;
  }
}

.invoice-line-comments-disabled {
  color: black;
  padding-left: 4rem;
  margin-bottom: 2rem;

  &:hover, a:hover {
    text-decoration: none;
    color: black;
    cursor: not-allowed;
  }
}

.invoice-total-details, .invoice-total-due-date, .invoice-total{
  display: flex;
  justify-content: space-between;
}

.invoice-total-details > div, .invoice-total-due-date > div {
  &:first-child {
    width: 25rem;
  }

  &:last-child {
    p {
    width: 100px;
    text-align: right;
    }
  }
}

.invoice-total-details > div > p, .invoice-total-due-date > div > p {
  padding: 0.5rem 0;

  &:last-child {
    border-top: 2px solid black;
  }
}

.invoice-total {
  width: 100%;
  margin-top: 25rem;
}

.invoice-total-details {
  margin-left: 22rem;

  div {
    margin: 0;
    padding: 0;
  }

  div > p {
    min-width: 13rem;
  }
}

.invoice-bank-statement {
  margin-top: 5rem;
}

.invoice-footer {
  text-align: center;
  margin-top: 5rem;
}

.invoice-footer > p {

  &:last-child {
    font-size: 1rem;
  }
}
