.item-id, .item-status {
  width: 300px !important;
  color: black !important;
}

.invoice-card {
  transition: all 0.3s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

#product-list {

  li > a {
    color: white;
  }

  li:hover {
      border: none !important;
  }
}
