.project-cat {
  margin: 30px 0 30px 0;
  font-size: 20px;
  margin-left: 83px;
  font-size: 28px;

}

.row {
  background-color: white;
  background-color: white;
  padding-top: 36px;
  padding-left: 25px;
  padding-right: 0px;
  margin-left: 85px;
  margin-right: 65px;
  margin-top: 32px;
}


.projects-title {
  margin-top: 37px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    margin: 0;
  }
}

.hidden {
  display: none;
}
