.project-show-title {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 20px;
  h1 {
    margin: 0;
  }
  h1, .control-buttons {
    height: 50px;
  }
  .control-buttons {
    display: flex;
    align-items: center;
    width: auto;
    a {
      margin: 0 5px;
    }
  }
}

.project-info {
  background-color: white;
  padding-bottom: 20px;
  margin-bottom: 90px;
  padding-top: 20px;

}

.project-info-headers {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  margin-bottom: 20px;
  width: 100%;
  p {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  :first-child {
    text-align: left;
  }
}

.sessions-cards {
  text-align: center;
  margin: 60px 0px;
}

.invalid-feedback {
  color: red;
}

.user-manager {
  margin: 0 5px;
}

#update-modal {
  background-color: white;
}

.middle-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  h3, p {
    margin-top: 0;
    margin-bottom: 12.5px;
    font-size: 34px;
  }
  li {
    font-size: 20px;
  }
  h4 {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
  }
  .middle-info-main {
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }
}

.middle-info-main img {
  margin-right: 20px;
}

#owner {
  font-size: 20px;
  font-weight: 300;
  margin: 0;

  li {
    display: inline-block;
    margin: 0 5px;
  }
}

.fa-arrow-left {
  font-size: 30px;
}
