#numbers_training {
  height: 100rem;
  width: 112rem;
  overflow: scroll;
}

#numbers_training_headers {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 100%;

  p {
    width: 12rem;
    text-align: center;
  }
}

#numbers_training_data {

  div {
    display: flex;
    border: 1px solid black;
  }

  div > p {
    width: 12rem;
    margin: 0;
    text-align: center;
    border-right: 1px solid black;

    &:nth-of-type(5) {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.numbers-vertical-line {
  border-left: 1px solid black;
  height: 100%;
}

$table-header: #1976D2;
$table-header-border: #1565C0;
$table-border: #d9d9d9;

.flex-table {
  display: flex;
  flex-flow: row wrap;

}
