.container-session-viewer {
  position: relative;
  width: 100vw;
  display: flex;
}

.card-right-viewer {
  width: 100% !important;
}

.container-seven-viewer {
  margin-left: 0 !important;
}

#workshops-viewer {
  margin-top: 50px;
}

#modules-viewer {
  margin-top: 50px;
}

.module-card-viewer {
  padding: 30px;
}
