.container-session-show {
  position: relative;
  width: 100vw;
  display: flex;
  margin-top: 50px;

  @include from-large {
    padding-left: 220px;
    margin-top: 0;
  }
}

.session-container {
  flex: 1 0;
  padding: 30px;
  max-width: 100vw;

  @include from-large {
    padding: 50px;
  }
}

#session-title {
  text-align: center;

  @include from-large {
    text-align: left;
  }
}

.session-controls {
  position: absolute;
  right: 13vw;
}

#export-btn {
  display: none;

  @include from-large {
    display: inline;
  }
}

.mods-list {
  display: none;
  text-align: left;
  ul {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.6px;
    line-height: 1.6;
    list-style: none;
  }

  @include from-large {
    display: block;
  }
}

.session-header {
  padding-top: 25px;
  width: 131%;
}

.session-header, .training-info-headers {
  display: flex;
  justify-content: space-between;

  @include from-large {
    margin-bottom: 20px;
  }
}

.user-fafa {
  border: none;
  padding: 0;
}

.fa-user-plus, .fa-user-minus, .fa-search-plus, .fa-search-minus {
font-size: 32px;
color: black;
background-color: white;
}

.comment-box {
  min-height: 0 !important;
  height: auto;
}


.logs-message {
  text-align: left;
}

.error {
  color: #004A7F;
  -webkit-border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% { color: #B20000; -webkit-text-shadow: 0 0 3px #B20000; }
  50% { color: #FF0000; -webkit-text-shadow: 0 0 20px #FF0000; }
  100% { color: #B20000; -webkit-text-shadow: 0 0 3px #B20000; }
}

@-moz-keyframes glowing {
  0% { color: #B20000; -moz-text-shadow: 0 0 3px #B20000; }
  50% { color: #FF0000; -moz-text-shadow: 0 0 20px #FF0000; }
  100% { color: #B20000; -moz-text-shadow: 0 0 3px #B20000; }
}

@-o-keyframes glowing {
  0% { color: #B20000; text-shadow: 0 0 3px #B20000; }
  50% { color: #FF0000; text-shadow: 0 0 20px #FF0000; }
  100% { color: #B20000; text-shadow: 0 0 3px #B20000; }
}

@keyframes glowing {
  0% { color: #B20000; text-shadow: 0 0 3px #B20000; }
  50% { color: #FF0000; text-shadow: 0 0 20px #FF0000; }
  100% { color: #B20000; text-shadow: 0 0 3px #B20000; }
}

.mod-container {
  text-align: justify;
}

.sidebar-search {

  div > input {
    border-bottom: 1px solid white !important;
    color: white;

  }

  div > input::-webkit-input-placeholder {
      color: white !important;
  }

  *::placeholder {
      color: white !important;
  }
}
