.theory-description {
  img {
    width: 100%;
  }
}

.theory-show-references {

  a:hover {
    font-weight: bolder;
  }

  li {

  }
}

.theory-list-title {
  min-height: 40px;
  margin: 30px 0 60px 0;
  padding: 0 5px;
  background-color: #606060;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin: 0;
  }

  button:first-child {
    margin: 0 5px 0 10px !important;
    color: white !important;
  }

  button:last-child {
    margin: 0 10px 0 5px !important;
    color: white !important;
  }
}

.theory-list {
  width: 50%;

  a {
    color: white;
  }
}

ul.theory-list {
  width: 100%;
  list-style: none;

  a {
    color: black;
  }
}

#theory-index {
  width: 100%;

  @include from-large {
    width: 700px;
  }
}

.theory-card-infos {
  width: 100%;
  display: flex;
  justify-content: space-between;

  & > p:first-child {
    word-wrap: break-word;
    max-width: 45%;

    @include from-large {
      width: 250px;
    }
  }
}

.theory-contents {
  width: 45%;

  p {
    color: rgba(0,0,0,0.6);
  }
}
