.training-show-title {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 20px;
  h1 {
    margin: 0;
  }
  h1, .control-buttons {
    height: 50px;
  }
  .control-buttons {
    display: flex;
    align-items: center;
    width: auto;
    a {
      margin: 0 5px;
    }
  }
}

.training-info {
  background-color: white;
  text-align: center;
  margin-bottom: 30px;

  @include from-large {
    text-align: left;
  }
}

.training-info-headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  p {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  :first-child {
    text-align: left;
  }

  @include from-large {
    margin-bottom: 30px;
  }
}

.training-info-headers-buttons {
  display: none;

  @include from-large {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  .dropdown-menu {
    width: 170px;
    position: absolute;
    right: -50px;
  }
}

.training-info-footer {
  display: flex;
  justify-content: center;

  @include from-large {
    position: fixed;
    bottom: 30px;
    right: 290px;
  }
}

.sessions-cards {
  text-align: center;

  @include from-large {
    margin: 40px 0px;
  }
}

.invalid-feedback {
  color: red;
}

.user-manager {
  margin: 0 5px;
}

#update-modal {
  background-color: white;
}

.middle-info {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  div > h4 {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin: 0;

    @include from-large {
      text-align: right;
    }
  }

  div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h3, p {
    font-size: 24px;
    margin-bottom: 10px;
  }
  li {
    font-size: 20px;
  }

  @include from-large {
    flex-direction: row;
    width: 100%;

    h3 {
      margin: 0;
    }
  }
}

.middle-info2 {
  display: flex;
  justify-content: center;

  div > h4 {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    margin-top: 3.5px !important;
    margin-bottom: 5px !important;

    @include from-large {
      text-align: right;
    }
  }

  .trainer-div {
    display: flex;
    align-items: center;
    justify-content: center;

    @include from-large {
      justify-content: flex-end;
    }
  }

  @include from-large {
    justify-content: flex-end;
  }
}

.middle-info-main {
  text-align: center;
  min-height: 63px;

  @include from-large {
    text-align: left;
  }
}

#owner, #trainer {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  padding: 0 !important;
  list-style: none;

  li {
    float:left;
    margin: 0 5px;

  }
}

#owner-session-index {
  font-size: 20px;
  font-weight: 300;
  margin: 0 15px 0 0;

  li {
    display: inline-block;
    margin: 0 5px;
  }
}

.fa-arrow-left {
  font-size: 30px;
}

#dropdownMenuButton::after {
  content: none !important;
}

#add-session-button {}
