.training-show-title {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 20px;
  h1 {
    margin: 0;
  }
  h1, .control-buttons {
    height: 50px;
  }
  .control-buttons {
    display: flex;
    align-items: center;
    width: auto;
    a {
      margin: 0 5px;
    }
  }
}

.training-info {
  background-color: white;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;

  @include from-large {
    text-align: left;
  }
}

.training-info-headers {
  display: flex;
  justify-content: space-between;
  width: 100%;
  p {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  :first-child {
    text-align: left;
  }
}

.training-info-headers-buttons {
  display: none;

  @include from-large {
    display: block;
  }
}

.training-info-footer {
  display: flex;
  justify-content: flex-end;
}

.sessions-cards {
  text-align: center;

  @include from-large {
    margin: 60px 0px;
  }
}

.invalid-feedback {
  color: red;
}

.user-manager {
  margin: 0 5px;
}

#update-modal {
  background-color: white;
}

.middle-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h3, p {
    font-size: 24px;
    margin-bottom: 10px;
  }
  li {
    font-size: 20px;
  }
  h4 {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
  }

  @include from-large {
    flex-direction: row;
    width: 100%;

    h3 {
      margin: 0;
    }
  }
}

.middle-info-main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;

  @include from-large {
    flex-direction: row;
    text-align: left;
  }
}

#owner {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  padding: 0 !important;

  li {
    display: inline-block;
    margin: 0 5px;
  }
}

#owner-session-index {
  font-size: 20px;
  font-weight: 300;
  margin-right: 15px;

  li {
    display: inline-block;
    margin: 0 5px;
  }
}

.fa-arrow-left {
  font-size: 30px;
}
