#dashboard-title {
  text-align: center;

  @include from-large {
    text-align: left;
  }
}

.training-cat {
  margin: 3rem 0 3rem 0;
  font-size: 2rem;
  margin-left: 83px;
  font-size: 28px;

}

.row {
  background-color: white;
  background-color: white;
  padding-top: 2.5rem;
  padding-left: 2.5rem;
  padding-right: 0px;
  margin-left: 80.5rem;
  margin-right: 60.5rem;
  margin-top: 2.5rem;
}


.trainings-title {
  margin-top: 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  h3 {
    margin: 0;
  }

  @include from-large {
    flex-direction: row;
  }
}

#training-buttons {
  display: flex;
  position: relative;

  @include from-large {
    display: flex;
  }

  a {
    margin-left: 2rem;
  }
}

.training-search-close {
  position: absolute;
  right: 17rem;
  top: 1rem;
}
