#dashboard-title {
  text-align: center;

  @include from-large {
    text-align: left;
  }
}

.training-cat {
  margin: 30px 0 30px 0;
  font-size: 20px;
  margin-left: 83px;
  font-size: 28px;

}

.row {
  background-color: white;
  background-color: white;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 0px;
  margin-left: 85px;
  margin-right: 65px;
  margin-top: 25px;
}


.trainings-title {
  margin-top: 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  h3 {
    margin: 0;
  }

  @include from-large {
    flex-direction: row;
  }
}

.hidden {
  display: none !important;
}

#training-buttons {
  display: flex;
  position: relative;

  @include from-large {
    display: flex;
  }

  a {
    margin-left: 20px;
  }
}

.training-search-close {
  position: absolute;
  right: 170px;
  top: 10px;
}
