<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel"><%= "Invite User" %></h3>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body" id="modalNewBookinBody">
    <%= simple_form_for [@training, @training_ownership], url: training_training_ownership_path(@training), method: :delete do |f| %>
        <%= f.input :user, :collection => @training.users, label: false, include_blank: false %>
  </div>
  <div class="modal-footer" id="modalNewBookingFooter">
    <div>
      <%= f.button :submit, "Supprimer", class: 'btn btn-edit', method: :delete %>
      <% end %>
    </div>
  </div>

    </div>
  </div>
</div>
