<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel"><%= "Invite User" %></h3>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body" id="modalNewBookinBody">
    <%= simple_form_for [@training, @training_ownership] do |f| %>
        <%= f.input :user, :collection => @users.where.not(access_level: 'sevener'), :label_method => lambda { |owner| "#{owner.firstname} #{owner.lastname}" }, include_blank: false %>
  </div>
  <div class="modal-footer" id="modalNewBookingFooter">
    <div>
      <%= f.button :submit, "Inviter", class: 'btn btn-edit' %>
      <% end %>
    </div>
  </div>

    </div>
  </div>
</div>
