/* line 1, app/assets/stylesheets/pdf.scss */
h3, p {
  margin: 0;
  padding: 0;
}

/* line 6, app/assets/stylesheets/pdf.scss */
#body-pdf {
  background-color: white;
}

/* line 11, app/assets/stylesheets/pdf.scss */
#body-pdf h1, #header-body-pdf h1, .footer-pdf h1 {
  width: auto !important;
  padding-top: 1rem;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}

/* line 18, app/assets/stylesheets/pdf.scss */
#body-pdf p, #body-pdf pre, #header-body-pdf p, #header-body-pdf pre, .footer-pdf p, .footer-pdf pre {
  font-size: 16px;
  font-family: 'Asap Condensed', sans-serif !important;
}

/* line 23, app/assets/stylesheets/pdf.scss */
#body-pdf h3, #header-body-pdf h3, .footer-pdf h3 {
  font-size: 24px !important;
  font-family: 'Asap Condensed', sans-serif !important;
}

/* line 29, app/assets/stylesheets/pdf.scss */
#pdf-logo, #presence-sheet-logo-pdf {
  width: 15rem;
  padding: 2rem 0;
  margin-bottom: 5rem;
}

/* line 36, app/assets/stylesheets/pdf.scss */
.title-pdf, .title-presence-sheet-pdf {
  font-family: 'Asap Condensed', sans-serif !important;
  padding: 3px;
  border-bottom: 2px solid black;
  text-align: center;
  color: black;
}

/* line 44, app/assets/stylesheets/pdf.scss */
.session-details-list-pdf {
  margin-bottom: 20px;
}

/* line 48, app/assets/stylesheets/pdf.scss */
.session-details-pdf {
  font-family: 'Asap Condensed', sans-serif !important;
}

/* line 52, app/assets/stylesheets/pdf.scss */
.training-details-pdf {
  font-family: 'Asap Condensed', sans-serif !important;
  text-align: center;
  font-style: italic;
  margin-top: -1.5rem;
}

/* line 59, app/assets/stylesheets/pdf.scss */
.content-details-pdf {
  font-family: 'Asap Condensed', sans-serif !important;
  border-bottom: 1px solid #000;
  border-bottom-width: 1px;
}

/* line 63, app/assets/stylesheets/pdf.scss */
.content-details-pdf em {
  color: #FEC554;
}

/* line 68, app/assets/stylesheets/pdf.scss */
.content-description-pdf {
  line-height: 3rem;
  text-align: justify;
  margin-bottom: 5rem;
}

/* line 74, app/assets/stylesheets/pdf.scss */
.module-card-pdf {
  padding: 0 1.5rem;
  margin-bottom: 3rem;
}

/* line 80, app/assets/stylesheets/pdf.scss */
.content-intel-pdf {
  font-family: 'Asap Condensed', sans-serif !important;
  font-style: italic;
}

/* line 86, app/assets/stylesheets/pdf.scss */
p.logistics-pdf {
  color: #3AA2AD;
}

/* line 90, app/assets/stylesheets/pdf.scss */
#action-pdf {
  color: #96B8DB;
}

/* line 96, app/assets/stylesheets/pdf.scss */
.wrapper-pdf {
  position: relative;
}

/* line 103, app/assets/stylesheets/pdf.scss */
.invoice-header-pdf {
  height: 3rem !important;
}

/* line 106, app/assets/stylesheets/pdf.scss */
.invoice-header-pdf img {
  margin: 0 0 1rem 0 !important;
}

/* line 111, app/assets/stylesheets/pdf.scss */
#header-body-pdf {
  position: relative;
}

/* line 115, app/assets/stylesheets/pdf.scss */
.invoice-company {
  margin-top: 3.6rem;
}

/* line 119, app/assets/stylesheets/pdf.scss */
.invoice-client {
  margin-top: 7rem;
  margin-left: 70%;
  padding: 1rem;
  width: auto;
}

/* line 126, app/assets/stylesheets/pdf.scss */
.invoice-header-number-pdf {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 132, app/assets/stylesheets/pdf.scss */
.invoice-desc-headline-pdf {
  display: inline-block;
  border-bottom: 2px solid black;
  width: 100%;
}

/* line 137, app/assets/stylesheets/pdf.scss */
.invoice-desc-headline-pdf p, .invoice-desc-headline-pdf div, .invoice-desc-headline-pdf div > p {
  display: inherit;
}

/* line 142, app/assets/stylesheets/pdf.scss */
.invoice-desc-line-pdf {
  margin-top: 10px;
  display: inline-block;
  width: 100%;
}

/* line 147, app/assets/stylesheets/pdf.scss */
.invoice-desc-line-pdf p, .invoice-desc-line-pdf div, .invoice-desc-line-pdf div > p {
  display: inherit;
}

/* line 152, app/assets/stylesheets/pdf.scss */
.invoice-desc-line-chapter-pdf {
  width: 100%;
  background-color: #3AA2AC;
}

/* line 161, app/assets/stylesheets/pdf.scss */
.invoice-desc-headline-description-pdf {
  width: 300px !important;
  margin-right: 0px;
}

/* line 166, app/assets/stylesheets/pdf.scss */
.invoice-desc-line-description-pdf {
  width: 300px !important;
  margin-right: 0px;
}

/* line 173, app/assets/stylesheets/pdf.scss */
.invoice-desc-line-data-pdf p {
  text-align: right;
  width: 80px;
  margin-left: 3rem;
}

/* line 179, app/assets/stylesheets/pdf.scss */
.invoice-desc-line-data-pdf p:nth-of-type(3) {
  width: 120px;
}

/* line 200, app/assets/stylesheets/pdf.scss */
.invoice-total-pdf {
  display: inline-block;
  margin-top: 100px;
  position: relative;
}

/* line 205, app/assets/stylesheets/pdf.scss */
.invoice-total-pdf div {
  display: inherit;
}

/* line 210, app/assets/stylesheets/pdf.scss */
.invoice-total-due-date-pdf {
  width: 21rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 218, app/assets/stylesheets/pdf.scss */
.invoice-total-due-date-pdf div:first-child {
  border-bottom: 2px solid black;
}

/* line 223, app/assets/stylesheets/pdf.scss */
.invoice-total-due-date-pdf div > p {
  display: inline-block;
  width: 10rem;
}

/* line 227, app/assets/stylesheets/pdf.scss */
.invoice-total-due-date-pdf div > p:last-child {
  text-align: right;
}

/* line 233, app/assets/stylesheets/pdf.scss */
.invoice-total-details-pdf {
  margin-left: 600px;
  bottom: 0;
  right: 0;
}

/* line 238, app/assets/stylesheets/pdf.scss */
.invoice-total-details-pdf div > p {
  display: inline-block;
  margin: 0;
  padding: 0;
}

/* line 243, app/assets/stylesheets/pdf.scss */
.invoice-total-details-pdf div > p:first-of-type {
  width: 10rem;
}

/* line 249, app/assets/stylesheets/pdf.scss */
.footer-pdf {
  background-color: white;
  margin-bottom: 50.5rem;
}

/* line 254, app/assets/stylesheets/pdf.scss */
.invoice-footer {
  text-align: center;
  margin-top: 2rem;
}

/* line 258, app/assets/stylesheets/pdf.scss */
.invoice-footer p {
  font-size: 12px !important;
}

/* line 265, app/assets/stylesheets/pdf.scss */
#presence-sheet-logo-pdf {
  padding: 2rem;
  margin-bottom: 2rem;
}

/* line 270, app/assets/stylesheets/pdf.scss */
table, tr, th, td {
  border-collapse: collapse;
}

/* line 274, app/assets/stylesheets/pdf.scss */
.title-presence-sheet-pdf {
  border: none !important;
  margin-bottom: 0 !important;
}

/* line 279, app/assets/stylesheets/pdf.scss */
.infos-presence-sheet-pdf {
  margin: 0 !important;
}

/* line 283, app/assets/stylesheets/pdf.scss */
.presence-sheet-grid-pdf {
  margin-top: 2rem;
}

/* line 287, app/assets/stylesheets/pdf.scss */
.presence-sheet-grid-pdf th {
  height: 3rem;
  width: 400px;
  border: 2px solid black;
}

/* line 293, app/assets/stylesheets/pdf.scss */
.presence-sheet-grid-pdf td {
  height: 5rem;
  width: 400px;
  border: 1px solid black;
}

/* line 301, app/assets/stylesheets/pdf.scss */
.table-header-2 {
  width: 500px !important;
}
