<div class="container-seven">
  <div class='flex-title'>
    <h2>Liste des actions</h2>
    <% if ['super admin', 'admin', 'training manager'].include? current_user.access_level %>
      <%= link_to new_action_path do %>
        <i class="fas fa-plus"></i>
      <% end %>
    <% end %>
  </div>
  <ul>
  <% @actions.each do |action| %>
    <li><%= link_to action.name, action_path(action) %></li>
  <% end %>
  </ul>
</div>
