<div class="container-seven">
  <%= link_to url_for(:back) do %><i class="fas fa-arrow-left"></i><% end %>
  <h2><%= @action.name %></h2>

  <p><%= @action.description %></p>
  <p><%= @action.intelligence.name %></p>
</div>
