#items {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding-right: 180px;
  .card {
    width: 900px;
    flex-direction: row;
  }
}

.ghost {
  opacity: 0.9;
  background: rgba(212, 227, 244, 0.6);
  color: rgba(255,255,255,0);
  a {
    color: rgba(255,255,255,0);
  }
}
