<div class="container-seven-large-form">
  <h1>Nouveau 'Partner'</h1>
  <br>
  <p>Ce formulaire ser à ajouter une nouvelle entité dans la base de données. Sont concernées les entreprises ainsi que les écoles.</p>

  <div>
    <%# simle_form_for :partners, url: %>
  </div>
</div>
