<div class="container-seven-large">
  <div id="page-controls">
    <h1>Reports</h1>
    <div id="page-buttons">
      <%= link_to 'Invoices', invoice_items_path(type: 'Invoice'), class: 'btn btn-edit-green' %>
      <%= link_to 'Estimates', invoice_items_path(type: 'Estimate'), class: 'btn btn-edit-red' %>
      <button class='btn btn-edit-grey btn-icon dropdown-toggle' id="dropdownMenuButton" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></button>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><%= link_to 'Upload to Drive', upload_to_sheet_path, method: :post %></li>
      </ul>
    </div>
  </div>
</div>
