<div class="container-thank-you centered-item">
  <div class="thank-you-content flex-column-between-centered">
    <%= image_tag "SEVENLOGO_SQUARE2.png" %>
    <% if params[:auth_token] == "846CD88B4B" || (params[:attendee].present? && params[:attendee][:auth_token] == "846CD88B4B") %>
      <h1>Merci !</h1>
      <p>Votre inscription a bien été enregistrée.</p>
      <button class="btn btn-edit-yellow"><%= link_to "Retour", :back %></button>
    <% else %>
      <div id="warning-message">
        <h1>Access restricted</h1>
      </div>
    <% end %>
  </div>
</div>
