<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel"><%= "Invite User" %></h3>
    </div>
  </div>
  <div class="modal-body" id="modalNewBookinBody">
    <%= simple_form_for [@project, @project_ownership] do |f| %>
        <%= f.input :user, :collection => @users, label: false %>
  </div>
  <div class="modal-footer" id="modalNewBookingFooter">
    <div>
      <%= f.button :submit, "Invite", class: 'btn btn-edit' %>
      <% end %>
    </div>
  </div>

    </div>
  </div>
</div>
