<div class="container-seven">
  <%= simple_form_for @invoiceline do |f| %>
    <%= f.cktext_area :comments, label: 'Commentaires' %>
    <p class="center-button"> <%= f.submit class: 'btn btn-edit' %> </p>
  <% end %>
</div>
