<div class="container-seven-large">
  <%= simple_form_for @invoiceline do |f| %>
    <%= f.label :comments %>
    <%= f.cktext_area :comments %>
    <p class="center-button"> <%= f.submit class: 'btn btn-edit' %> </p>
  <% end %>
</div>
