<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel">Sending date for <%= item.uuid %></h3>
    </div>
    <button type="button" class="btn btn-icon-close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-body">
    <%= simple_form_for :edit_sending, url: marked_as_send_invoice_item_path(item), method: 'GET' do |f| %>
      <%= f.input :sending_date, as: :string, input_html: { class: 'datepicker'} %>
      <div style=" display: flex; justify-content: space-between; margin-top: 1rem">
        <%= button_tag type: 'submit', class: 'btn btn-edit-green btn-icon' do %>
          <i class="fas fa-save"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
