<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel">Export to CSV</h3>
    </div>
    <button type="button" class="btn btn-edit-cross" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-body">
    <%= simple_form_for :export, url: invoice_items_path(format: :csv), method: 'GET' do |f| %>
      <%= f.input :start_date, as: :string, input_html: { class: 'datepicker'} %>
      <%= f.input :end_date, as: :string, input_html: { class: 'datepicker'} %>
      <div style=" display: flex; justify-content: space-between; margin-top: 1rem">
        <%= button_tag type: 'submit', class: 'btn btn-edit-green btn-edit-disk' do %>
          <i class="fas fa-save"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
