<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel">Create Order</h3>
    </div>
    <button type="button" class="btn btn-icon-close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
  </div>
  <div class="modal-body">
    <%= simple_form_for :new_order, url: new_sevener_invoice_path(training_id: training.id), method: 'POST' do |f| %>
      <%= f.input :user, collection: training.trainers, include_blank: false, :label_method => lambda { |trainer| "#{trainer.firstname} #{trainer.lastname}" } %>
      <div class='modal-control'>
      <%= button_tag type: 'submit', class: 'btn btn-edit-green btn-icon', data: { toggle: 'tooltip' }, title: 'Save' do %>
        <i class="fas fa-save"></i>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
