<!DOCTYPE html>
<html>
  <head>
    <script>
      function subst() {
            var vars={};
            var x=window.location.search.substring(1).split('&');
            for (var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}

            if (vars['page'] == vars['topage']) {
                document.querySelector('.footer-pdf').classList.remove('hidden');
            }
        }
    </script>
  </head>
  <body onload="subst()">
    <div class="footer-pdf hidden">
      <% unless @invoice_item.type == 'InvoiceSevener' %>
        <div class="invoice-bank-statement">
          <p>Déclaration d'activité sous le numéro 11 92 20487 92 auprès du Préfet d'IDF</p>
          <p>Domiciliation Bancaire : CIC Paris République</p>
          <p>Banque : 3006 Guichet : 10011 N° Compte : 00020287201 Clé : 36</p>
          <p>IBAN : FR76 3006 6100 1100 0202 8720 136</p>
          <p>BIC : CMCIFRPP</p>
        </div>
        <div class="invoice-footer">
          <p>SAS - RCS : Paris - Siret : 80396439400024 - APE : 8559A - ID TVA : FR28 803964394</p>
          <p>Pas d'escompte pour paiement anticipé, passée la date d'échéance, tout paiement différé entraîne l'application d'une pénalité de 3 fois le taux d'intérêt légal (loi 2008-776 du 04/08/2008) ainsi qu'une indemnité forfaitaire pour frais de recouvrement de 40 euros (Décret 2012-1115 du 02/10/2012).</p>
        </div>
      <% else %>
        <div>
          <p>TVA non applicable, article 293b du CGI</p>
        </div>
      <% end %>
    </div>
  </body>
</html>
