<div class="container-seven-large">
  <div class="training-info-headers">
    <% if params[:training_id] %>
      <%= link_to training_path(Training.find(params[:training_id])), class: 'btn return-arrow' do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
    <% elsif params[:client_company_id] %>
      <%= link_to client_company_path(ClientCompany.find(params[:client_company_id])), class: 'btn return-arrow' do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
    <% end %>
    <a data-toggle='modal' type='button' data-target='#exportCSV' style='cursor:pointer;'>
      <button class="btn btn-edit-red btn-icon">Export <i class="fas fa-file-csv"></i></button>
    </a>
  </div>
  <% if params[:type] == 'Invoice' %>
    <h1>Invoices List</h1>
  <% elsif params[:type] == 'Estimate' %>
    <h1>Estimates List</h1>
  <% end %>
  <div class="invoice-list">
    <%= render 'list', invoice_items: @invoice_items %>
  </div>
</div>

<!-- MODAL -->
<div class="modal fade" id="exportCSV" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document" style="border-radius: 2rem">
    <%= render 'export_csv' %>
  </div>
</div>
<!--  -->
