<div class="container-seven-large">
  <div class="report-main">
    <div id="page-controls">
      <h1>Reports</h1>
      <div id="page-buttons">
        <%= link_to 'Invoices', invoice_items_path(type: 'Invoice', page: 1), class: 'btn btn-edit-green' %>
        <%= link_to 'Estimates', invoice_items_path(type: 'Estimate', page: 1), class: 'btn btn-edit-red' %>
      </div>
    </div>
  </div>
</div>
