/* User Avatar */
.avatar-sm {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-xs {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-mobile {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-large {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-bordered {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  object-fit: cover;
}

.avatar-square {
  width: 4rem;
  height: 4rem;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  object-fit: cover;
}

.avatar-workshop-module-card {
  position: absolute;
  top: -0.5rem;
  left: -5rem;
}

.avatar_filter_all {
  border: 1px solid black;
}

.avatar_filter_all_unselected {
  background-color: rgba(0,0,0,0.2);
}
