
$timeline: #115173;

.card {

  height: 250px;
  width: 350px;
  margin: 10px;
  position: relative;
  background-color: rgb(244, 244, 244);
  border: 1px solid #e0e0e0;
  font-family: 'Roboto';
  font-weight: lighter;
  box-shadow: none !important;
  background-color: white;
  transition: all 0.8s ease;
  a {
    height: 100%;
  }
  .card-main {
    height: 75%;
    width: 100%;
    text-align: left;
    padding: 15px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    h6 {
      margin: 15px 0;
    }
  }

  &:hover {
    background-color: rgba(0,0,0,0.05);
  }
}

.card-sm {
  height: 150px;
  width: 150px;
  margin: 10px 0;
  position: relative;
  background-color: rgb(244, 244, 244);
  border: 1px solid #e0e0e0;
  font-family: 'Roboto';
  font-weight: lighter;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: all 0.8s ease;
  a {
    height: 100%;
  }
  .card-main-sm {
    height: 100%;
    width: 100%;
    text-align: left;
    padding: 10px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h5 {
      font-size: 12px;
      width: 60%;
    }

    p {
      font-size: 12px;
      margin: 0;
    }

    #card-main-sm-session {
      color: $blue;
    }
  }
}

.card-sm-mobile {
  display: none;
}

@media screen and (max-width: 640px) {
  .card-sm-mobile {
    display: block !important;
  }

  .card-sm {
    display: none;
  }
}

.client-logo {
  height: 50px;
  width: 50px;
  object-fit: contain;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-trainers {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.card-trainer {
  height: 25px;
  width: 25px;
  border-radius: 100%;
}

.card-infos {
  margin-top: 20px;
  position: absolute;
  bottom: 10px;
 .card-infos-elements {
    margin-top: 5px;
    color: rgb(50,50,50);
    font-size: 16px;
  }
}

.card-footer {
  height: 25%;
  display: flex;
  align-items: center;
  background: linear-gradient(0.25turn, #23282E, #FCC94B) !important;
  justify-content: space-between;
  background: rgba(115, 133, 152, 0.15);
  border-top: none;
  p {
    margin: 0;
  }
  a {
    text-decoration: none;
    color: $green;
    font-weight: bolder;
  }
}

.card-lg {
  background-color: white;
  width: 100%;
  height: auto;
  box-shadow: 1px 1px 10px rgba(115, 133, 152, 0.6);
  margin: 0 auto;
  text-decoration: none;
  color: black;
  &:hover {
    background-color: rgba(0,0,0,0.05);
  }

  .card-main-lg {
    height: auto;
    position: relative;
    margin-top: 20px;
    h3 {
      font-family: "Roboto";
      font-weight: 500;
      line-height: 1.1;
      color: inherit;
      text-align: left;
      margin: 0;
    }
  }
}

.card-footer-lg {
  height: 50px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  position: relative;

  @include from-large {
    height: auto;
    padding: 20px 0 0 20px;
    padding-right: 60%;
  }

  div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p, i {
    margin: 0;
    font-weight: 600;
    color: gray;
  }

  button {
    height: 50px;
    width: 50px;

    &:hover {
      background-color: rgba(0,0,0,0.05);
    }

    &:first-of-type {
      position: absolute;
      right: 56px;
      top: 5px;
    }

    &:last-child {
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }
}

.sessions-cards .card-lg {
  z-index: 1000;
}

.card-session-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  position: relative;

  a {
    max-width: 70%;
  }

  h3 {
    max-width: 100%;
    font-size: 20px;

    @include from-large {
      font-size: 24px;
    }
  }
}

.card-link {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
#mods {
  background: white;
}

#items, #items-viewer {
    margin-bottom: 20px;
    padding-right: 0;

    .card-mods {
    display: flex;
    margin: 0;
    padding: 0;
    border: none;
    width: auto;
    height: auto;
    opacity: 0.75;
    &:hover {
      transition: all 0.8s ease;
      transform: scale(1.0);
      opacity: 1;
    }
  }
  .card-left {
    border-right-style: solid;
    border-right-color: $timeline;
    border-right-width: 4px;
    width: 150px;
    position: relative;
    display: none;

    @include from-large {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
    }
  }
  .mod-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 5px;
    left: 54px;
    color: $blue;
    font-weight: 600;
    font-size: 23px;
    width: 105px !important;
  }

  .mod-duration {
    position: absolute;
    bottom: 115.575px;
    right: 23px;
    color: $blue;
    font-weight: 600;
    font-size: 20px;
  }

  .mod-endtime {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 5px;
    left: 54px;
    color: $blue;
    font-weight: 600;
    font-size: 23px;
  }

  .mod-time-mobile {
    top: 40%;
    left: 54px;
    color: $blue;
    font-weight: 600;
    font-size: 23px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;

    @include from-large {
      display: none;
    }
  }

  .card-right {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-shadow: 1px 0px 70px -11px rgba(0, 0, 0, 0.15);
    padding: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 20px;

    &:hover {
      box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
    }
    h5{
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 0.6px;
      line-height: 1.6;
    }

    @include from-large {
      flex-grow: 1;
      padding: 20px;
    }
  }
  .grabbable {
    // cursor: move ; /* fallback if grab cursor is unsupported */
    // cursor: grab;
    // cursor: -moz-grab;
    // cursor: -webkit-grab;
    h4 {
      color: rgba(0,0,0,0.6);
    }
    h4:hover {
      color: rgba(0,0,0,1);
    }
  }
  .grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
  .circle {
    border: solid 2px $timeline;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: $timeline;
    margin-left: 15px;
  }

  .align-elements-in-flexbox {
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
  }
  .card-description {
    text-align: center;

    @include from-large {
      text-align: justify;
    }

    i {
      font-size: 22px;
      position: absolute;
      top: 41px;
      right: 61px;
      color: #2e353d85;
    }
    ul {
      padding: 0;
      list-style: none;
    }
  }

}

.top-mods {
  margin-bottom: 40px;
  text-align: left;
  h4 {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
  }
  h3 {
    font-size: 34px;
    margin-top: 0;
  }
}

.duration {
  position: absolute;
  top: 46px;
  right: 61px;
  font-size: 15px;

}

.card-mods:first-child {
  .card-left {
     -webkit-border-image:
      -webkit-gradient(linear, 0 100%, 0 0, from($timeline), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image:
      -webkit-linear-gradient(top, $timeline, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(top, $timeline, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image:
      -o-linear-gradient(top, $timeline, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to top, $timeline, rgba(0, 0, 0, 0)) 1 100%;
  }
}

.message-box {
  background-color: white;
  margin-top: 50px;
  text-align: left;

  @include from-large {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 35px;
    padding-bottom: 31px;
  }

  li{
    margin-top: 10px;
  }
  .simple_form{
    margin-bottom: 10px;
  }
}

#content_description {
  margin: 0px 1.01562px 0px 0px;
  width: 1408px;
  height: 70px;
}

.log-box{
  text-align: left;
  background-color: white;
  margin: 30px 0;
  position: relative;

  @include from-large {
    margin-top: 50px;
    margin-bottom: 62px;
    border-bottom-width: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 120px;
    padding-right: 120px;
  }
}

.card-category {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-grow: 1;

  a, a > div {
    width: 100%;
  }

  h4{
    text-align: left;
    font-size: 16px;

    @include from-large {
      font-size: 20px;
      padding-bottom: 16px;
    }
  }
}

#card-index:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
  transition: 0.8s ease;
}

.card-mods {
  box-shadow: none;
}

input.btn {
  margin-bottom: 10px !important;
}

.return-arrow {
  min-width: 0 !important;
  padding: 15.75px 17px !important;
  box-shadow: none !important;

  i {
    font-size: 14px;
  }
}

.btn-edit, .btn-edit-red, .btn-edit-green, .btn-edit-grey {
  opacity: 0.8;
  width: auto;
  max-width: none;
  padding: 0.45em 2em;
  border-radius: 0.22em;
  box-sizing: border-box;
  font-weight: 800 !important;
  color: white !important;
  text-align: center;
  transition: all 0.1s;
  outline: none !important;
  margin-left: 5px !important;
  i {
    color: white;
  }
  &:hover{
    opacity: 1;
    text-decoration: none !important;
  }
}

.btn-edit {
  background-color: $yellow !important;
}

.btn-edit-red {
    background-color: #E64259 !important;
}

.btn-edit-green {
    background-color: #4AC2C7 !important;
}

.btn-edit-grey {
    background-color: #23282E !important;
}

.btn-edit-pen, .btn-edit-menu {
  padding: 15.75px 16px !important;
  min-width: 0 !important;
}

.btn-edit-round {
  min-width: 0 !important;
  padding: 5.5px !important;
  border-radius: 50% !important;
  background-color: #23282E !important;
  color: white !important;

  &:hover {
    background-color: #23282E !important;
  }
}

.btn-edit-disk, .btn-edit-trash {
  padding: 15.75px 17px !important;
  min-width: 0 !important;
  color: white !important;
}

.btn-edit-eye {
  padding: 15.75px 15px !important;
  min-width: 0 !important;
}

.btn-edit-cross {
  padding: 17px 19.5px !important;
  min-width: 0 !important;
  box-shadow: none !important;

  i {
    font-size: 14px;
  }
}

.btn-add-user {
  box-shadow: none !important;
  border-radius: 52px !important;
  background-color: rgba(0,0,0,0.05) !important;
}

.btn-add-user-disabled {
  box-shadow: none !important;
  cursor: default !important;
  background-color: white !important;
  background-image: none !important;

  &:hover {
    background-color: white !important;
    background-image: none !important;
  }
}

.card-mods:last-child {
  .card-left {
     -webkit-border-image:
      -webkit-gradient(linear, 0 100%, 0 0, from($timeline), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image:
      -webkit-linear-gradient(bottom, $timeline, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(bottom, $timeline, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image:
      -o-linear-gradient(bottom, $timeline, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to bottom, $timeline, rgba(0, 0, 0, 0)) 1 100%;
  }
}
.center-button {
  text-align: center;
  margin-top: 30px;
}

.empty-mod {
  text-align: center;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-size: 25px;
}


#content-modules-items {
    margin-bottom: 20px;
    padding-right: 0;
    .card-mods {
    display: flex;
    margin: 0;
    padding: 0;
    border: none;
    width: auto;
    height: auto;
    opacity: 0.75;
    &:hover {
      transition: all 0.8s ease;
      transform: scale(1.0);
      opacity: 1;
    }
  }
  .card-left {
    border-right-style: solid;
    flex-shrink: 0;
    border-right-color: $timeline;
    border-right-width: 4px;
    width: 150px;
    position: relative;
  }
  .mod-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 54px;
    color: $blue;
    font-weight: 600;
    font-size: 23px;
  }
  .card-right {
    width: 700px;
    box-shadow: 1px 0px 70px -11px rgba(0, 0, 0, 0.15);
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: grab;
    &:hover {
      box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
    }
    h5{
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 0.6px;
      line-height: 1.6;
    }
  }
  .grabbable {
    // cursor: move ; /* fallback if grab cursor is unsupported */
    // cursor: grab;
    // cursor: -moz-grab;
    // cursor: -webkit-grab;

    h4 {
      color: rgba(0,0,0,0.6);
    }
    h4:hover {
      color: rgba(0,0,0,1);
    }
  }
  .grabbable:active {
    // cursor: grabbing;
    // cursor: -moz-grabbing;
    // cursor: -webkit-grabbing;
  }
  .circle {
    border: solid 2px $timeline;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: $timeline;
    margin-left: 15px;
  }

  .align-elements-in-flexbox {
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
  }
  .card-description {
    text-align: justify;
    i {
      font-size: 22px;
      position: absolute;
      top: 41px;
      right: 61px;
      color: #2e353d85;
    }
  }
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}
