.user-controls {
  // width: 280px;
  // position: relative;
}

.control-button {
  border-radius: 50%;
  // border: 1px solid rgba(115, 133, 152, 0.6);
  height: 4.8rem;
  width: 4.8rem;
  font-size: 1.6rem; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  opacity: 0.6;
  transition: all 0.8s ease;
  color: white;
  a {
    color: white;
    text-decoration: none;
  }
  &:hover {
    opacity: 1;
    color: white;
  }
  &:focus {
    outline: none;
  }
}

.control-button-warning {
  background-color: $orange;
}

.warning-training {
  position: absolute;
  top: 1.5rem;
  left: 4.2rem;
}

.warning-client {
  position: absolute;
  top: 1.5rem;
  left: 1.7rem;
}

.control-button-danger {
  background-color: $red;
}

.control-button-add {
  background-color: $green;
}

.client-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    margin: 0;
  }
  .btn {
    a {
      color: white;
      text-decoration: none;
    }
  }
}

.text {
  border-radius: 1rem;
  width: auto;
}

.edit-fafa {
  display: none;
  border: none;
  font-size: 2rem;
  outline: none;
  color: black;
  background-color: rgba(0,0,0,0);
  &:hover {
    color: black;
    cursor: pointer;
  }

  @include from-large {
    display: inline;
  }
}

.add-user {
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  border: 1px solid rgba(0,0,0,0.6);
  padding: 0;
  background-color: rgba(0,0,0,0);
  display: flex;
  align-items:center;
  justify-content: center;
  padding: 6.0.5rem 8.0.5rem !important;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

  &:hover {
    background-color: rgba(0,0,0,0.05);
  }
}
