.form-control {
  background-image: none !important;

  input, select {
    padding: 0.6rem 1.2rem !important;
  }
}

input:focus {
  box-shadow: none !important;
}

.form-div {
  position: relative;
  margin: 5rem 0;
}

.form-label {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  padding-left: 1.3rem;
  padding-top: 0.7rem;
  color: #9DABBA;
  transition: all 0.4s ease;
}

.form-label-active {
  transform: translateY(-3.7rem);
  color: black;
  transition: all 0.4s ease;
}

.label-checkbox {
  display: flex;

  input {
    margin-right: 1rem;
  }
}

.form-group {

  span {
    display: flex;

    label {
      margin-left: 0.5rem;
    }
  }
}

.copy-form-element {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.form-check-input {
  margin-top: 0 !important;
}
