.mod-date {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include from-large {
    flex-direction: row;
  }
}

#modal-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#modal-title-consult {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

#modal-title button {
  border: none;
  font-size: 24px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row-reverse;
}

.fa-user-plus {
  color: black;
  margin: 0;
  font-size: 20px;
  cursor: pointer;
}

.modal-body {

  p {
    font-size: 16px !important;
  }
}

.modal-lg {
  z-index: 9500 !important;
}

.modal {
 overflow-y: auto !important;
}

.modal-open {
 overflow: auto !important;
}

.modal-seven {
  width: auto !important;
}
