h1, h2, h3, h4, h5, p, a {
  font-family: 'Open Sans' !important;
}

h2{
  font-size: 24px !important;

  @include from-large {
    font-size: 34px !important;
  }
}

p {
  margin: 0;
  font-size: 16px;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

*:focus {
    outline: 0 !important;
}

input[type='checkbox']:checked + label {
  color: black !important;
}
