.flex-div-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-div-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-div-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0;
}

