 /* Remove default bullets */
#myUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

.myUL-li-theme {
  border: solid black;
  border-width: 1px 1px 0 1px;
  width: 500px;
  padding: 15px 0;

  &:last-child {
    border-bottom-width: 1px;
  }
}

.theme-active {
  padding-bottom: 0 !important;
}

.myUL-li-content {
  border-bottom: 1px solid black;

  a {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
  }

  &:last-child {
    border-bottom: none !important;
  }
}


/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
  padding: 10px 7.5px;
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
  list-style: none !important;
  border: solid black;
  border-width: 1px 0 0 0;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.nested-active {
  display: block;
  width: 100%;
  padding: 0;
  margin-top: 15px;
}
