 /* Remove default bullets */
#myUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;

  li {
    border: none;
  }
}

.myUL-li-theme {
  width: 500px;
  padding: 15px 0;

  &:last-child {
    border-bottom-width: 1px;
  }

  .caret {
    background-color: white;
    transition: background-color 0.5s 0.5s;
  }
}

.theme-active {
  padding-bottom: 0 !important;

  .caret-down {
    background-color: #FDC553;
    transition: background-color 0.5s;
  }
}

.myUL-li-content {

  a {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
  }

  &:last-child {
    border-bottom: none !important;
  }
}


/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
  padding: 10px 7.5px;
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  overflow: hidden;
  list-style: none !important;
  border-width: 1px 0 0 0;
  max-height: 0px;
  -webkit-transition: max-height 1s ease 0s, margin 0.7s ease 0s;
  -moz-transition: max-height 1s ease 0s, margin 0.7s ease 0s;
  -ms-transition: max-height 1s ease 0s, margin 0.7s ease 0s;
  -o-transition: max-height 1s ease 0s, margin 0.7s ease 0s;
  transition: max-height 1s ease 0s, margin 0.7s ease 0s;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.nested-active {
  width: 100%;
  padding: 0;
  margin-top: 15px;
  max-height: 100vh;
  -webkit-transition: max-height 3s ease, margin 0.7s ease 0s;
  -moz-transition: max-height 3s ease, margin 0.7s ease 0s;
  -ms-transition: max-height 3s ease, margin 0.7s ease 0s;
  -o-transition: max-height 3s ease, margin 0.7s ease 0s;
  transition: max-height 3s ease, margin 0.7s ease 0s;
}
