a {
  color: black;

  &:hover {
    text-decoration: none;
    color: black;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container-seven {
  margin-left: 220px;
  width: 100%;
  min-width: 1080px;
  min-height: 100vh;
  padding: 50px;
  overflow: auto;
}

.container-new-form {
  margin-left: 220px;
  width: 100%;
  min-width: 1080px;
  min-height: 100vh;
  padding: 85px 400px;
  background-color: white;
}

.tab-pane .row {
  margin-left: 0;
  padding-left: 0;
}

html {
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 1440px;
  width: 100vw;
}

#left-side {
  width: 220px;
  display: none;

  @include from-large {
    display: block;
  }
}

#right-side {
  // width: calc(100vw - 220px);
  min-width: 900px;
}

.flex-title {
  display: flex;
  align-items: center;

  a {
    margin-left: 10px;
  }
}

ul {
  list-style-type: disc;
}
