h3, p {
  margin: 0;
  padding: 0;
}

#body-pdf {
  background-color: white;
}

#body-pdf p{
  font-size: 1.4rem !important;
  font-family: 'Times New Roman' !important;
}

#body-pdf h3{
  font-size: 2.4rem !important;
  font-family: 'Times New Roman' !important;
}

#pdf-logo, #presence-sheet-logo-pdf {
  width: 15rem;
  padding: 2rem;
  margin-bottom: 5rem;
}


.title-pdf, .title-presence-sheet-pdf {
  font-family: "Roboto", sans-serif;
  padding-top: 3px;
  border: 2px solid black;
  text-align: center;
  color: black;
}

.session-details-list-pdf {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.session-details-pdf {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.training-details-pdf {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-style: italic;
  margin-top: -1.5rem
}

.content-details-pdf {
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid #000;
  border-bottom-width: 1px;
  em {
    color: red;
  }
}

.content-description-pdf {
  line-height: 3rem;
  font-size: 1.6rem;
  text-align: justify;
  margin-bottom: 5rem;
}

.module-card-pdf {
  border: 1px solid black;
  padding: 0 1.5rem;
  margin-bottom: 3rem;
}

.content-intel-pdf {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  // margin-top: -1.5rem;
}

p.logistics-pdf {
  color: green;
}

#action-pdf {
  color: orange
}

//INVOICE

.wrapper-pdf {
  position: relative;
}

.wrapper-pdf p {
  font-size: 1.6rem !important;
}

.invoice-header-pdf {
  height: 100px !important;

  img {
    margin: 0 0 1rem 0 !important;
  }
}

#header-body-pdf {
  position: relative;
}

.invoice-client {
  margin-top: 7rem;
  margin-left: 600px;
  padding: 1rem;
  width: auto;
}

.invoice-header-number-pdf {
  position: absolute;
  top: 0;
  right: 0;
}

.invoice-desc-headline-pdf {
  display: inline-block;
  border-bottom: 2px solid black;
  width: 100%;

  p, div, div > p {
    display: inherit;
  }
}

.invoice-desc-line-pdf {
  margin-top: 1rem;
  display: inline-block;
  width: 100%;

  p, div, div > p {
    display: inherit;
  }
}

.invoice-desc-line-chapter-pdf {
  margin-top: 1rem;
  width: 100%;
  background-color: #3AA2AC;
}

// .invoice-desc-line-pretaxamount {
//   width: 100px !important;
// }

.invoice-desc-headline-description-pdf {
  width: 42rem !important;
  margin-right: 0px;
}

.invoice-desc-line-description-pdf {
  width: 42rem;
  margin-right: 0px;
}

.invoice-desc-line-data-pdf {

  p {
    text-align: right;
    width: 70.5rem;
    margin-left: 3rem;
  }
}

// .invoice-desc-line-quantity {
//   padding-left: 4rem;
// }

// .invoice-desc-line-puht {
//   padding-left: 1rem;
// }

// .invoice-desc-line-pretaxamount {
//   padding-left: 1rem;
// }

// .invoice-desc-line-data-pretaxamount {
//   padding-left: 3rem;
// }

.invoice-total-pdf {
  display: inline-block;
  margin-top: 100px;
  position: relative;

  div {
    display: inherit;
  }
}

.invoice-total-due-date-pdf {
  width: 31rem;
  position: absolute;
  bottom: 0;
  left: 0;

  div {

    &:first-child {
      border-bottom: 2px solid black
    }
  }

  div > p {
    display: inline-block;
    width: 15rem;

    &:last-child {
      text-align: right;
    }
  }
}

.invoice-total-details-pdf {
  margin-left: 57rem;
  bottom: 0;
  right: 0;

  div {
    margin: 0;
    padding: 0;
  }

  div > p {
    min-width: 13rem;
  }
}

.footer-pdf {
  background-color: white;
  margin-bottom: 50.5rem;
}

.invoice-footer {
  text-align: center;
  margin-top: 2rem;
}

// PRESENCE SHEET

#presence-sheet-logo-pdf {
  padding: 2rem;
  margin-bottom: 2rem;
}

table, tr, th, td {
  border-collapse: collapse;
}

.title-presence-sheet-pdf {
  border: none !important;
  margin-bottom: 0 !important;
}

.infos-presence-sheet-pdf {
  margin: 0 !important;
}

.presence-sheet-grid-pdf {

  margin-top: 2rem;

  th {
    height: 3rem;
    width: 400px;
    border: 2px solid black;
  }

    td {
    height: 5rem;
    width: 400px;
    border: 1px solid black;
  }

}

  .table-header-2 {
    width: 500px !important;
  }
