h3, p {
  margin: 0;
  padding: 0;
}

#body-pdf {
  background-color: white;
}

#body-pdf p{
  font-size: 16px !important;
  font-family: 'Times New Roman' !important;
}

#body-pdf h3{
  font-size: 24px !important;
  font-family: 'Times New Roman' !important;
}

#pdf-logo {
  padding: 20px;
  margin-bottom: 50px;
}


.title-pdf {
  font-family: "Roboto", sans-serif;
  padding-top: 3px;
  border: 2px solid black;
  text-align: center;
  color: black;
}

.session-details-list-pdf {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.session-details-pdf {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.training-details-pdf {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-style: italic;
  margin-top: -15px
}

.content-details-pdf {
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid #000;
  border-bottom-width: 1px;
  em {
    color: red;
  }
}

.content-description-pdf {
  line-height: 30px;
  font-size: 16px;
  text-align: justify;
  margin-bottom: 50px;
}

.module-card-pdf {
  border: 1px solid black;
  padding: 0 15px;
  margin-bottom: 30px;
}

.content-intel-pdf {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  // margin-top: -15px;
}

p.logistics-pdf {
  color: green;
}

#action-pdf {
  color: orange
}

//INVOICE

.wrapper-pdf {
  position: relative;
}

.wrapper-pdf p {
  font-size: 16px !important;
}

.invoice-header-pdf {
  height: 100px !important;

  img {
    margin: 0 0 10px 0 !important;
  }
}

#header-body-pdf {
  position: relative;
}

.invoice-client {
  margin-top: 70px;
  margin-left: 650px;
  // margin-right: 50px;
  border: 1px solid black;
  padding: 10px;
  width: auto;
}

.invoice-header-number-pdf {
  position: absolute;
  top: 0;
  right: 0;
}

.invoice-desc-headline-pdf {
  display: inline;
  border-bottom: 2px solid black;
  max-width: 100%;

  p, div, div > p {
    display: inherit;
  }

  div {
  }

  div > p {
    margin-left: 50px;
    text-align: right;
  }
}

.invoice-desc-line-pdf {
  display: inline-block;
  max-width: 100%;

  p, div, div > p {
    display: inherit;
  }

  div {
  }

  div > p {
    width: 50px;
    margin-left: 50px;
    text-align: right;
  }
}

// .invoice-desc-line-pretaxamount {
//   width: 100px !important;
// }

.invoice-desc-headline-description-pdf {
  margin-right: 335px;
}

.invoice-desc-line-description-pdf {
  width: 420px;
  margin-right: 0px;
}

.invoice-desc-line-data-pdf {
}

.invoice-desc-line-quantity {
  padding-left: 25px;
}

.invoice-desc-line-puht {
  padding-left: 10px;
}

.invoice-desc-line-data-pretaxamount {
  padding-left: 32px;
}

.invoice-total-pdf {
  display: inline-block;
  margin-top: 100px;

  div {
    display: inherit;
  }
}

.invoice-total-due-date-pdf {
  width: 310px;

  div {

    &:first-child {
      border-bottom: 2px solid black
    }
  }

  div > p {
    display: inline-block;
    width: 150px;

    &:last-child {
      text-align: right;
    }
  }
}

.invoice-total-details {
  margin-left: 320px;
}

.hidden {
  display: none;
}

.footer-pdf {
  background-color: white;
  margin-bottom: 55px;
}
