<div class="modal-content">
  <div class="modal-header">
    <div id="modal-title" style=" display: flex; justify-content: space-between;">
      <h3 class="modal-title" id="myModalLabel"><%= "Théorie à lier" %></h3>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body" id="modalNewBookinBody">
    <%= simple_form_for [@content, @theory_content], url: content_theory_content_path(@content), method: :delete do |f| %>
        <%= f.input :theory, :collection => @content.theories, :label_method => :name, include_blank: false %>
  </div>
  <div class="modal-footer" id="modalNewBookingFooter">
    <div>
      <%= f.button :submit, "Supprimer", class: 'btn btn-edit' %>
      <% end %>
    </div>
  </div>
</div>
